/*      Page d'accueil      */

.container {
    background-image: url(image/Accueil.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;   
}

body {
    margin: 0;

}

/*Logo centrale page d'accueil*/

.Logo {
    justify-content: center;
    display:flex;
    align-content: center;
    margin-right: 224px;
    margin-left: 464px;
    margin-top: 200px;
    width: 1009px;
    height: 185px;


}

/*Rs de la page d'accueil*/

.RS {
    display: flex;
    flex-direction: column; 
    position: absolute; 
    transform: translateX(10%);
    margin-top: 658px;
}

.twitter {
    background-image: url(image/twitter.png);
    width: 236px;
    height: 90.6496px;
    border-radius: 1.125rem;
    margin-bottom: .625rem;
    border-color: transparent;
    cursor: pointer;
}

.Line {
    background-image: url(image/Line.png);
    width: 236px;
    height: 90.6496px;
    border-radius: 1.125rem;
    border-color: #00C300;
    cursor: pointer;
}

.toto {
   position: absolute;
   transform: translateX(350%) translateY(230%);
}

.textoto {
    text-align: center;
    color: #FFFFFF;
    
}

/*      Page 2      */

.container2 {
    display: flex;
    flex-direction: row;
    background-image: url(image/page2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 120rem;
    height: 67.5rem;
    justify-content: center;
    align-items: center;
}

.textmiya {
    width: 26.8125rem;
    height: 46.25rem;
    animation-duration: 3s;
    animation-name: slidein;
    animation-delay: 2ms;
}

.tetemiya{
    width: 371px;
    height: 540px;

  
}

@keyframes slidein {
    from {
      margin-right: 150%;
      width: 20%;
    }
  
    to {
      margin-right: 0%;
      width: 20%;
    }
  }

.wikimiya {

    background-image: url(image/wiki.png);
    background-color: #6D797D;
    width: 222px;
    height: 83.1696px;
    border-radius: 1.125rem;
    margin-top: 1.875rem;
    cursor: pointer;
}

.Miyaetwiki {
    display: flex;
    flex-direction: column;
    margin-left: 2.5rem;
    align-items: center;
}

/*      Page 3      */

.container3 {
    background-image: url(image/page3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.wolfp {
    width: 207px;
    height: 282px;
   
}

.mononoke {
    width: 330px;
    height: 682px;
}

.synopsisabout {
    background-image: url(image/synopsis.png);
    width: 235px;
    height: 93px;
    border-radius: 1.125rem;
    margin-left: 90px;
    cursor: pointer;
    
}

.textemo {
    width: 26.8125rem;
    height: 46.25rem;
    
}

/*Contient wolf,princess,bouton*/

.monowolfbout {
display: flex;
margin-right: 1.875rem;
animation-duration: 3s;
animation-name: slidein2;
animation-delay: 2ms;
}
@keyframes slidein2 {
    from {
      margin-right: 130%;
      width: 20%;
    }
  
    to {
      margin-right: 9.5%;
      width: 20%;
    }
  }
/*Contient princess,bouton*/

.monowolf {
    flex-direction: column;
    display: flex;
}

/*Page 4*/

.container4 {
    background-image: url(image/page4.png);
    width: 1920px;
    height: 810px;
}
.plank1 {
margin-top: 1.875rem;
}
.plank4 {
    margin-top: 2.5rem;
}
.NEWSBOUT {
    width: 602px;
    height: 79px;
    border-radius: 1.5625rem;
    background-color: #109CEB;
    border-color: transparent;
    cursor: pointer;
    margin-bottom: 1.875rem;
    color: #FFFFFF;
    font-family: 'DM Serif Display', serif;
    font-family: 'Merienda', cursive;
    
}

.news {

}


footer
 {
    background-color: #9BC6C8;
    width: 1920px;
    height: 272px;
    display: flex;
    justify-content: space-between;
}

.List1{
    margin-right: 6.25rem;
    list-style: none;
    font-size: 1.5rem;
    font-family: 'DM Serif Display', serif;
    font-family: 'Merienda', cursive;

}

.List2{
    list-style: none;
    font-size: 1.5rem;
    font-family: 'DM Serif Display', serif;
    font-family: 'Merienda', cursive;
}

.GiveInfos 
{
    display: flex;
    flex-direction: column;
}

.deuxlu 
{
    display: flex;

}

.boutonnewssign 
{
    display: flex;
    margin-right: 6.25rem;
    margin-top: 3.125rem;

}

.searchbou
{
    width: 453px;
    height: 30px;
    border-radius: 10px;
    border-color: #000000;

}

.Signinbou
{
    width: 163.3296px;
    height: 62.3696px;
    border-radius: 35px;
    background-color: #109CEB;
    color: #FFFFFF;
    font-family: 'DM Serif Display', serif;
    font-family: 'Merienda', cursive;
    cursor: pointer;
}
