

.container {
    background-image: url(image/Accueil.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
     
}

body {
    margin: 0;
    display: flex;
}



/*Logo centrale page d'accueil*/

.Logo {
    justify-content: center;
    display:flex;
    align-content: center;
    margin-right: 14rem;
    margin-left: 29rem;
    margin-top: 12.5rem;


}

/*Rs de la page d'accueil*/



.RS {
    display: flex;
    flex-direction: column; 
    position: absolute; 
    transform: translateX(10%);
    margin-top: 19.125rem;
}

.twitter {
    background-image: url(image/twitter.png);
    width: 14.75rem;
    height: 5.6656rem;
    border-radius: 18px;
    margin-bottom: 10px;
    border-color: transparent;
    cursor: pointer;
}

.Line {
    background-image: url(image/Line.png);
    width: 14.75rem;
    height: 5.6656rem;
    border-radius: 18px;
    border-color: #00C300;
    cursor: pointer;
}

.toto {
   position: absolute;
   transform: translateX(350%) translateY(90%);
}

.textoto {
    text-align: center;
    color: #FFFFFF;
    
}